/*#item{
    border: 1px solid #C17C74;
    color: whitesmoke;
    border-radius: 10%;
    min-height:300px;
}
h1{
    text-align: center;
    font-size: medium;
    padding:0;
}
div{
    padding-bottom:5%;
}

img{
    width:100px;
    display: block;
    margin: auto;
    
    height:auto;
}
#del{
    position: relative;
    left:89.5%;
    top:5%;
    background: firebrick;
    color:white;
    cursor: pointer;
    height:5%;
    width:10%;
    display: none; 
}
a{
    display: block;
    margin-left: auto;
    padding:0;
    cursor: default;

}
#container{
    justify-content: space-between;
    background: inherit;
    align-items: center;
  
}
#item1, #item2, #item3{

    background: transparent;    
}
@media(max-width:400px){
    img{
        height:50px;
        width:auto;
    }
}
a{
    cursor: pointer;
}
#details{
    display: block;
    margin: auto;
}
#item2{
    text-align: center;
}
#item1{
    padding-top: 3%;
}
@media(max-width:885px){
    #item{
       display: block;
       margin:auto;
       margin-top:5%;
    }
}

.color1{
    background: #605F5E;
}
.color2{
    background: #247BA0;
}

.b{
    border-color: #FB3640;
    background-color: #E2E2E2;
}
.wrap{
    border: 1px solid #C17C74;
    border-radius: 5%;
    
}*/
img{
    width:50%;
    display: block;
    margin: auto;
    padding-bottom: 1em;
}
.item{
    background-color: #ebeded;
    break-inside: avoid;
    margin-bottom: 1em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    transition: ease-in 0.3s;
}
h1{
    text-align: center;
}
.fter{
    background-color: #247BA0;
    color:whitesmoke;
    padding: 1em;
}
/*.b{
    border-color: #FB3640;
    background-color: #E2E2E2;
    display: block;
    margin: auto;
}*/
/*.item:hover{
    transform: translateY(1em);
}*/

  