<div class = "d-flex bar justify-content-center p-2 rounded" style = "color:white;
width: 25%; display:block; margin:auto; margin-top: 10%;">
    <form class = "mt-1" [formGroup] = "registerForm" (ngSubmit) = "onRegisterButtonPressed()">
      <div class="form-group">
        <h3 class="text-center">Register</h3>
      </div>
      <div class = "form-group">
            <i class = "far fa-angry fa-2x"></i>
            <input class = "form-control" placeholder = "Enter your email" type="text" formControlName="email">
      </div>
      <div class = "form-group">
            <input class = "form-control" placeholder = "Enter your password" type="password" formControlName="password">
        </div>
      <button class = "b mx-auto" type = "submit"><span>Submit</span></button>
        
    </form>
</div>
