<nav class = "navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-auto">CourseWiki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click) = "onExpand()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class = "navbar-nav ml-auto">
    <li class=" nav-link" (click)='onClick()'>Add Course</li>
    </ul>
    <app-sign-menu></app-sign-menu>
  </div>
  </nav>
