
<div class = "main">
        
           <div class = "name"><h2>{{details?.name}}</h2></div>
            <div class = "elem">ECTS: {{details?.ECTS}}</div>
           <div class = "elem">Rating: {{details?.rating.toFixed(2)}} / 5</div>
            <div class = "elem">Semester: {{details?.semester}}</div>
           <div class = "elem">Maximum number of students: {{details?.maxStudentsNo}}</div>
           <div class = "elem">Semester: {{details?.semester}}</div>
           <div class = "elem">Description: <p>{{details?.description}}</p></div>
        
        <div class="form-row mt-3 mb-3">
            <input class = "f" #rate type="number" placeholder="Rate course">
            <button class = "b" (click) = 'changeRating(rate.value)'><span>Submit!</span></button> 
        </div>
        <button class = "b enroll" (click) = signUpUserOnCourse()><span>Enroll!</span></button>
        </div>
<!--<p>ECTS: {{details.ECTS}}
        Rating: {{details.rating.toFixed(2)}} / 5
        Semester: {{details.semester}}
        Max students no: {{details.maxStudentsNo}}
        Semester: {{details.semester}}</p>
        <p>Description: {{details.description}}</p> -->


