.hiddenInfo{
    
    transition:max-height 0.5s ease-in;
    transition-delay: 0ms;
    background: inherit;
    display:block;
    margin:auto;
    padding:0;
    max-height: 0;
    overflow: hidden;
}
.info{
    transition:max-height 0.5s ease-in;
    background: inherit;
    display:block;
    margin:auto;
    padding:0;
    max-height:200px;
    overflow: hidden;
}
#expand{
    display:block;
    margin:auto;
}
.hiddenInfo p, .info p {
    text-align:center;
}
#input{
    display:flex;
    align-items: center;
    justify-content: center;
    background:inherit;
}
.main{
    display:block;
    margin:auto;
}