
.hiddenInfo p, .info p {
    text-align:center;
}
#input{
    display:flex;
    margin-top:100em;
    align-items: center;
    justify-content: center;
    background:inherit;
}
.main{
    margin-top: 5%;
    margin-left: 5%;
}
.elem{
    display: block;
    margin:auto;
    padding:2%;
    border-bottom: 1px solid #FB3640;
}
button{
 display: inline;
 margin-left: 2em;  
}
.enroll{
    margin-left: 0;
}
.f{
    margin-left: 5px;
}