
.hiddenInfo p, .info p {
    text-align:center;
}
#input{
    display:flex;
    align-items: center;
    justify-content: center;
    background:inherit;
}
.main{
    margin-top: 10%;
    margin-left: 5%;
}
.elem{
    display: block;
    margin:auto;
    padding:2%;
    border-bottom: 1px solid #FB3640;
}
.b{
    background-color: #247BA0;
    color: whitesmoke;
}