<div id = main>
   <!-- <app-navbar></app-navbar>-->
    <app-search-form
    (addSearchParams) = 'addSearchParams($event)'>
    </app-search-form>
   <!-- <app-course-form 
    (addCourse) = 'addCourse($event)'
    ></app-course-form>-->
    <div id = 'courseList' class = "grid-container">
    <app-course-item *ngFor = "let course of filtered()"
     [course] = "course"
     [isEven] = "filtered().indexOf(course)%2"
     (deleteCourse) = "deleteCourse($event)">
    </app-course-item>
    </div>
</div>
