/*
a{
    cursor: pointer;
}
.grid-container{
    display:grid;
    grid-template-columns: 31% 31% 31%;
    justify-items: stretch;
    grid-gap:2rem;
    overflow:hidden;
    position:relative;
    padding: 5%;
    min-height:700px;

    justify-content: center;
}
@media(max-width:1250px){
    .grid-container{
        grid-template-columns: 49% 49%;
    }
}
@media(max-width:885px){
    .grid-container{
       display: block;
       margin:auto;
    }
}
.header{
    text-align: center;
    padding: 3%;
}
.cont{
    background-color: rgb(236, 236, 236);
    width:90%;
    margin:5%;
}*/
.grid-container{
    padding: 1em;
    column-count: 4;
    column-width: 23%;
    column-gap: 1em;
}
@media(max-width: 800px){
    .grid-container{
        column-count: 3;
    }
}
@media(max-width: 600px){
    .grid-container{
        column-count: 2;
    }
}
@media(max-width: 400px){
    .grid-container{
        column-count: 1;
    }
}
#conurseList{
    display: grid;
    justify-content: space-around;
}