  #inner{
     
      text-align: center;
      font-size: xx-large;
      position: relative;
      line-height: 200%;
      padding-top: 15%;
      margin: 2%;
  }
  .flex-container{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
  }
  .flex-item{
    text-align:center;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  .bloc{
    width:100px;
    height: 100px;
   position: absolute;
    z-index: -1;
  }
  #block1{
    
    top: 500px;
    left:50px;
    background-color: lightcoral;
  }
  #block2{
    top:400px;
    left:50px;
    background-color: limegreen;
  }
  #block3{
    top:500px;
    left:150px;
    background-color: mediumturquoise;
  }
  #block4{
    bottom: 500px;
    right: 50px;
    background-color: lightcoral;
  }
  #block5{
    
      bottom:400px;
      right:50px;
      background-color: limegreen;
    
  }
  #block6{
    bottom:500px;
    right:150px;
    background-color: mediumturquoise;
  }
  