/*#bg{
  height: 1000px;
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
}
#bg::after {
    content: "";
    background: url("../../../assets/pictures/bgpic2.jpg");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }*/
  #inner{
      display: block;
      margin: auto;
      text-align: center;
      padding-top: 15%;
      font-size: xx-large;
      position: relative;
      
  }
  .flex-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    font-size: x-large;
  }
  .flex-item{
    text-align:center;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }