<div class = "d-flex justify-content-center bg-primary p-2 rounded mt-5" style = "color:white;">
  <form [formGroup]="searchForm" (keyup)="onKeyUp()">
    <div class="form-group">
      <h3 class = "text-center">Search course</h3>
    </div>
    <div class = form-row>
        <div class="col">
        <label>
          Name:
          <input class = "form-control" type="text" formControlName="name">
        </label>
        </div>
        <div class="col">
        <label>
          ECTS:
          <input class = "form-control" type="text" formControlName="ECTS">
        </label>
        </div>
        <div class="col">
        <label>
         Semester:
         <input class = "form-control" type="text" formControlName="semester">
        </label>
        </div>
        <div class="col">
        <label>
        Max student no:
        <input class = "form-control" type="text" formControlName="maxStudentsNo">
        </label>
        </div>
      </div>
</form>
</div>